/* @import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap'); font-family: 'Megrim', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'upheavtt';
    src: url("./lib/assets/fonts/upheavtt.ttf") format("ttf");
}
.upFont{
    font-family: 'upheavtt', 'Press Start 2P', sans-serif;
}
.pixelFont{
    font-family: 'Press Start 2P', cursive;
}
.exoFont{
    font-family: 'Exo 2', sans-serif;
}

body{

    margin: 0;
    background-color: #000;
    overflow: hidden;
}